body {
  background-color: rgb(38, 38, 38);
  font-family: Helvetica, sans-serif;
}

.project {
  width: 500px;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.project h1 {
  text-align: left;
  padding: 0px 50px 0px 50px;
  font-size: 3em;
}

.projectContainer {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  padding: 0;
}

.projectContainer li {
  margin: 0;
  padding: 0;
}

.bottomContainer {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  padding: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
}

.blurb {
  font-size: 20px;
}

.appUrl {
  font-size: 32px;
  font-weight: bold;
}

.about {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 0px;
}

.about h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 25px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

.footer {
  background-color: white;
  color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  list-style: none;
  margin: 0;
}

.socials li {
  display: inline;
  margin: 5px;
}

.tech {
  font-size: 22px;
}

.techHeader {
  font-size: 22px;
  margin-bottom: 10px;
}
