body {
  font-family: 'Roboto Mono', monospace;
}

* {
  font-weight: normal;
}

ul {
  padding-inline-start: 5px;
}

iframe {
  border-radius: 20px;
  margin-top: 20px;
}

.project {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  margin: 15px;
  padding: 10px;
  border: 5px dashed #e5e5e5;
  border-radius: 40px;
  box-shadow: 0px 0px 10px #dddddd;
}

.projectTiny {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin: 15px;
  padding: 10px;
  border: 5px dashed #e5e5e5;
  border-radius: 40px;
  box-shadow: 0px 0px 10px #dddddd;
}

.projectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-flow: row wrap;
  padding: 0px 0px 10px 0px;
}

.projectContainer li {
  margin: 0;
  padding: 0;
}

.bottomContainer {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  padding: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.blurb {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 30px;
}

.appUrl {
  font-size: 32px;
  font-weight: bold;
}

.appUrlTiny {
  font-size: 24px;
  font-weight: bold;
}

.about {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 0px;
}

.about h1 {
  font-size: 36px;
  margin: 15px;
  padding: 0px;
  text-transform: lowercase;
}

.footer {
  background-color: white;
  color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  list-style: none;
  margin: 0;
}

.socials li {
  display: inline;
  margin: 5px;
}

.tech {
  font-size: 22px;
}

.techHeader {
  font-size: 22px;
  margin-bottom: 10px;
}
